option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    DJANGO_DEBUG: "False"
    DJANGO_DATABASE_PATH: "/var/app/data/db.sqlite3"
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "mysite.wsgi:application"
